/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700');

:root {
    /*|| Font family*/
    --ff-headings: 'Teko', sans-serif;
    --ff-primary: 'Roboto', sans-serif;

    /*|| Font sizes */
    --fs-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --fs-1: clamp(1.125rem, 1.0607rem + 0.3214vw, 1.35rem);
    --fs-2: clamp(1.2656rem, 1.1644rem + 0.5063vw, 1.62rem);
    --fs-3: clamp(1.4238rem, 1.2752rem + 0.7431vw, 1.944rem);
    --fs-4: clamp(1.6018rem, 1.393rem + 1.0443vw, 2.3328rem);
    --fs-5: clamp(1.802rem, 1.5171rem + 1.4248vw, 2.7994rem);
    --fs-6: clamp(2.0273rem, 1.6467rem + 1.9028vw, 3.3592rem);
    --fs-7: clamp(2.2807rem, 1.7806rem + 2.5005vw, 4.0311rem);
    --fs-8: clamp(2.5658rem, 1.9168rem + 3.245vw, 4.8373rem);

    /*|| Spaces */
    --space-2xs: clamp(0.5rem, 0.4821rem + 0.0893vw, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
    --space-s: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --space-m: clamp(1.5rem, 1.4464rem + 0.2679vw, 1.6875rem);
    --space-l: clamp(2rem, 1.9286rem + 0.3571vw, 2.25rem);
    --space-xl: clamp(3rem, 2.8929rem + 0.5357vw, 3.375rem);
    --space-2xl: clamp(4rem, 3.8571rem + 0.7143vw, 4.5rem);
    --space-3xl: clamp(6rem, 5.7857rem + 1.0714vw, 6.75rem);

    /*|| Colurs*/

    /* Neutral colours */
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-light: hsl(0, 0%, 97%);
    --clr-grey: hsl(204, 8%, 76%);
    --clr-grey-dark: hsl(0, 0%, 55%);
    --clr-black: hsl(0, 0%, 14%);
    --clr-tan: hsl(29, 36%, 56%);

    /* Primary colours (Header, Footer etc.)*/
    --clr-primary: hsl(35, 40%, 88%);
    --clr-primary-text: var(--clr-black);

    /* Secondary colours (CTA,Buttons etc.)*/
    --clr-secondary: hsl(349, 100%, 46%);
    --clr-secondary-hover: hsl(349, 100%, 64%);
    --clr-secondary-text: var(--clr-white);

    /* Tertiary colours */
    --clr-tertiary: hsl(210, 29%, 29%);
    --clr-tertiary-light: hsl(192, 15%, 94%);

    /*Commons*/
    --heading-border: 2px solid var(--clr-tan);
}

/*===========================
  Base Elements
===========================*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    color: var(--clr-primary-text);
    font-size: 1rem;
    line-height: 1.6;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-family: var(--ff-headings);
}

h1 {
    font-size: var(--fs-7);
}

h2 {
    font-size: var(--fs-5);
}

h3 {
    font-size: var(--fs-3);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    background-color: var(--clr-primary);
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 99;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding: var(--space-xl) 0;
}

footer {
    padding: var(--space-l) 0;
    background-color: var(--clr-primary);
    text-align: center;
}

/*===========================
  Shared Elements
===========================*/

.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--clr-secondary-hover);
}

.btn:focus,
.btn:active {
    transform: translateY(4px);
    background-color: var(--clr-secondary);
}

.parallex-container {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.line-overflow {
    --lh: 1.6rem;
    --max-lines: attr(data-max-lines type(<number>));
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines, 3);
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.overlay::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/*===========================
  Navigation
===========================*/

.nav {
    --_height: 70px;
    height: var(--_height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    --_height-width: 50px;
    height: var(--_height-width);
    width: var(--_height-width);
    background-color: var(--clr-secondary);
    font-family: var(--ff-primary);
    color: var(--clr-secondary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.1;
}

.nav__logo-link {
    text-decoration: none;
}

.nav__logo-initial {
    font-size: 1.5rem;
}

.nav__logo-full {
    letter-spacing: 1px;
    font-size: 0.75rem;
}

.nav__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-primary);
    border-top: 1px solid var(--clr-tan);
    top: var(--_height);
    right: -100%;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    list-style: none;
    gap: 1rem;
    font-weight: 500;
}

.nav__link--active::after {
    content: '';
    display: block;
    height: 4px;
    width: 100;
    background: var(--clr-secondary);
    transition: all 0.5s;
}

.nav__link {
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav__link:hover {
    color: var(--clr-secondary);
}

.nav__link:focus,
.nav__link:active {
    color: var(--clr-secondary-hover);
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--clr-primary-text);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/*===========================
  Hero Section
===========================*/

.hero {
    --_hero-height: 450px;
    background-image: url(../images/churchill-house-46.jpg);
    height: var(--_hero-height);
    text-align: var(--_text-align, center);
    position: relative;
}

.hero__content {
    height: var(--_hero-height);
    position: relative;
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__description {
    margin-bottom: var(--space-xs);
}

/*===========================
  Sub-Hero Section
===========================*/

.sub-hero{
    background-color: var(--clr-grey-light);
    padding: var(--space-xl) 0;
}

.sub-hero__image-container {
    --_height: 350px;
    height: var(--_height);
    margin-bottom: var(--space-m);
    background: url(../images/churchil-house_darrenbradley.jpg) no-repeat center center / cover;
}

.sub-hero__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--space-s) 0;
}

.sub-hero__title {
    line-height: 1.3;
    font-size: var(--fs-7);
    border-bottom: var(--heading-border);
}

/*===========================
  Card Section
===========================*/

.card {
    background-color: antiquewhite;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    padding: var(--space-l);
    color: white;
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card--1 {
    background: url("../images/fenner-house-4.jpg") no-repeat center center / cover;
}

.card--2 {
    background: url("../images//manning-clark-4.jpg") no-repeat center center / cover;
}

.card--3 {
    background: url("../images/churchill-house-34.jpg") no-repeat center center / cover;
}

.card__img {
    display: none;
}

.card__title {
    font-size: var(--fs-7);
}

.card__btn {
    width: 50%;
}

.card__btn,
.card__img,
.card__title,
.card__body {
    position: relative;
}

/*===========================
  Gallery
===========================*/

.gallery {
    margin-top: var(--space-l);
}

.gallery__head,
.gallery__title {
    text-align: center;
}

.gallery__title {
    margin-bottom: var(--space-s);
    border-bottom: var(--heading-border);
}

.gallery__sub-heading {
    color: var(--clr-tan);
}

.gallery__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gallery__img {
    margin-top: 1.5rem;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/*===========================
  Article Page
===========================*/

.article__hero {
    height: 300px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -280px;
}

.article__manning-clark {
    background-image: url(../images/manning-clark-5.jpg);
    background-position-y: -200px;
}

.article__fenner {
    background-image: url(../images/fenner-house-6.JPG);
    background-position-y: -200px;
}

.article__churchill {
    background-image: url(../images/churchill-house-28.jpg);
}

.article__title {
    text-align: center;
    border-bottom: var(--heading-border);
}

.article__subtitle {
    font-size: var(--fs-3);
}

.article__body {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: var(--space-s) 0 0;
    gap: var(--space-xs);
}

.article__list {
    padding-left: 2.5rem;
    text-align: left;
}

.article__card-figure {
    background-color: var(--clr-grey-light);
}

.article__figcaption {
    text-align: center;
    font-family: var(--ff-headings);
    font-size: var(--fs-3);
}

.article__figure-img {
    height: 400px;
}

.article__img {
    width: 100%;
}

/*===========================
  Breadcrumb
===========================*/

.breadcrumb-col {
    display: flex;
    align-items: end;
    padding-bottom: var(--space-l);
}

.breadcrumb {
    position: relative;
    list-style: none;
    color: var(--clr-grey-light);
    font-size: var(--fs-0);
    display: flex;
}

.breadcrumb__list-item::after {
    content: '\00bb';
    margin: 0 .6em
}

.breadcrumb--active {
    font-weight: 500;
    color: var(--clr-white);
}

.breadcrumb__link {
    text-decoration: underline;
    color: var(--clr-grey);
    transition: color .3s ease;
}

.breadcrumb__link:hover {
    color: var(--clr-grey-light);
}

/*===========================
  Back To Top classes
===========================*/

.back-to-top {
    text-align: center;
    position: fixed;
    z-index: 99999;
    bottom: 125px;
    right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
    font-size: 3.75rem;
    padding: 12px;
    transition: background-color 0.3s ease;
    display: none;
}

.back-to-top:before {
    content: "\00AB";
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotate(90deg);
    padding-bottom: 10px;
}

/*===========================
  Utility classes
===========================*/

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.pt-0 {
    padding-top: 0;
}

.mt-l {
    margin-top: var(--space-l);
}

.d-md-show {
    display: none;
}

/*===========================
  Media Queries
===========================*/

@media (min-width: 768px) {
    .nav__list {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 1rem;
        padding: 0;
        width: auto;
        background: none;
        border: none;
    }

    .hamburger {
        display: none;
    }

    .hero {
        --_hero-height: 550px;
        --_text-align: left;
    }

    .sub-hero__image-container {
        --_height: 400px;
    }

    .card {
        gap: 1.5rem;
        color: var(--clr-primary-text);
        background-color: var(--clr-grey-light);
        height: unset;
        background: unset;
        padding: 0 0 1.5rem;
    }

    .card::before {
        content: none;
    }

    .card__img {
        display: block;
        height: 300px;
    }

    .card__title {
        font-size: var(--fs-4);
    }

    .card__body {
        font-size: 1rem;
        text-align: left;
        padding: 0 var(--space-s);
    }

    .gallery__title,
    .article__title,
    .article__body {
        text-align: left;
    }

    .article__img--centered {
        display: flex;
        justify-content: center;
    }

    .article__figure-img {
        object-fit: cover;
    }

    .article__manning-clark {
        background-position-y: -200px;
    }

    .d-md-show {
        display: block;
    }
}

@media (min-width: 992px) {
    .hero {
        --_hero-height: calc(100vh - 200px);
        --_text-align: left;
    }

    .sub-hero__image-container {
        --_height: 100%;
    }

    .article__hero {
        height: 400px;
        background-position-y: -100px;
    }

    .article__fenner,
    .article__churchill {
        background-position-y: 50%;
    }
}