/*
/////////////////
Animations styles
fadeInDown,fadeInUp,fadeInLeft,fadeInRight
/////////////////
*/

.animate {
    --translate-length: 50px;
    opacity: 0;
    visibility: hidden;
    animation-duration: var(--duration, 0.5s);
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, calc(-1 * var(--translate-length)), 0);
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, calc(var(--translate-length)), 0);
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(calc(-1 * var(--translate-length)), 0, 0);
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(calc(var(--translate-length)), 0, 0);
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

/*________Animation END____________*/
